/* Importation des polices de caractères */
@import url("font.css");

:root {
  /* Hauteur fixe */
  --height-header-main: calc(var(--height-top-section1)  + var(--height-top-section2) + var(--height-menu-top-main) + var(--height-menu-main) + var(--height-header-logo) + var(--height-title-content-sub) + 30px);
  --height-top-section1: 40px; /* Hauteur du haut de section1, en dessous du titre de section */
  --height-top-section2: 49px; /* Hauteur du haut de section2, en dessous du haut de section1 */
  --height-menu-top-main: 27px; /* Hauteur du menu tout en haut */ 
  --height-menu-main : 45px; /* Hauteur du menu principal */ 
  --height-header-logo : 70px; /* Hauteur de l'entête avec le logo */
  --height-title-content-sub: 20px; /* Hauteur du titre de la section */
  --height-menu-select-language: 100px; /* Hauteur du menu pour la selection de la langue */

  /* Largeur fixe */
  --width-data-list: 350px; /* Largeur de la liste des données */
  --min-width--application: 1080px; /* Largeur minimal de l'application */

  /* Couleurs */

  /* Couleur de la police en générale */
  --colorText: #3C5873;

  /* Couleur de fond générale */
  --colorBackground: #fafafa;

  /* Menu tout en haut */
  --colorTextTopMenu : var(--colorText);
  --colorTextTopMenuHover:  #616161;
  --colorBackgroundTopMenu : /*#f5f5f5;*/#c0bdbd;
  --colorBackgroundTopMenuHover : #eeeeee;
  --colorTextTopMenuSubMenu: var(--colorText);
  --colorBackgroundTopMenuSubMenuHover: #81c784;
  --colorTopMenuBorder: #D8D8D8;
  --colorBackgroundTopMenuInfo: #D8D8D8;

  /* Bannière logo et usine */
  --colorBackgroundHeaderLogo:  #fff;
  --colorTextHeaderLogo: #757575;

  /* Menu principale */
  --colorTextMainMenu : var(--colorText);
  --colorTextMainMenuHover:  #616161;
  --colorBackgroundMainMenu : #fafafa;
  --colorBackgroundMainMenuHover :  #eeeeee;
  --colorTextMainMenuSubMenu: var(--colorText);
  --colorBackgroundMainMenuSubMenuHover: var(--colorBackgroundTopMenuSubMenuHover);
  --colorMainMenuBorder: #D8D8D8;
  --colorMainMenuBorderBottomHover: #388e3c;

  /* Section principale */
  --colorBackgroundMainSection: #4caf50;

  /* Ecran de connexion */
  --colorBackgroundScreenLogin: #fff;
  --colorBorderScreenLogin: #f5f5f5;
  --colorTextPlaceHolderScreenLogin: #808097;

  /* Boutons d'action */
  --colorBackgroundButtonAction: #427AA1;

  /* Onlgets */
  --colorBackgroundTabActive: var(--colorBackground);
  --colorBackgroundTab: #748291;

  --colorGreen1 : #198562;
  --colorGreen2 : #3dac89;
  --colorGreen3 : #166e52;
  --colorGreen4 : #00ffaf;
  --colorGreen5 : rgb(108, 197, 169);
  --colorBlue1: #3C5873; 
  --colorBlue2: #748291;
  --colorBlue3: #417690;
  --colorBlue4: #2a3d52;
  --colorBlue5: #79aec8;
  --colorGrey1: #D8D8D8; 
  --colorGrey2: #ecececf6;
  --colorGrey3: #dfdfdf;
  --colorGrey4: #acacac;
  --colorRed1: #fc121d;


  --colorBorderButtonMenu : #425C76;
  --colorLineMenu : rgb(60, 87, 116, 30%);
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: var(--colorBackground);
  color: var(--colorText);
  font-family: "Roboto", sans-serif;
  font-size: 1.05em;
}

.header-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--height-header-main);
  z-index: 9999;
  min-width: var(--min-width--application);
}

.header-logo {
  color: var(--colorTextHeaderLogo);
  width: 100%;
  background-color: var(--colorBackgroundHeaderLogo);
  display: flex;
  justify-content: center;
  height: var(--height-header-logo);
}

.banner-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-login > p {
  margin-top: 20px;
}

.banner-login > a {
  text-decoration: none;
}

.banner-login > form > input {
  margin-bottom: 30px;
  width: 190px;
}

.banner-login .header-logo {
  background-color: var(--colorBackground);
}

.usine-name {
  font-size: 2em;
  margin-left: 50px;
  font-weight: 300;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo img {
  width: 59px;
  height: 43px;
}

.solution-name {
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 2px;
}

.small {
  font-size: 1.4em;
}

/*Menu déroulant et ses spécifiques*/

.base-menu-deroulant {
  width: 100%;
}

.base-menu-deroulant ul {
  list-style-type: none;
}

.base-menu-deroulant li a {
  text-decoration: none;
  color: var(--colorTextMainMenu);
}

.spe-menu-deroulant-top-main li a, .spe-menu-deroulant-top-main li p {
  color: var(--colorTextTopMenu);
}

.base-menu-deroulant > ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: var(--height-menu-main);
}

.spe-menu-deroulant-top-main > ul {
  height: var(--height-menu-top-main);
  justify-content: right;
}

.base-menu-deroulant > ul > li{
  background-color: var(--colorBackgroundMainMenu);
  border-bottom: 1px solid var(--colorMainMenuBorder);
  border-top: 1px solid var(--colorMainMenuBorder);
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
}

.spe-menu-deroulant-top-main > ul > li {
  background-color: var(--colorBackgroundTopMenu);
  border-top: 0;
  border-bottom: 1px solid var(--colorTopMenuBorder);
  flex: 0.2;
}

.spe-menu-deroulant-top-main > ul > li.menu-deroulant-info {
  flex: 0.7;
  background-color: var(--colorBackgroundTopMenuInfo);
}

.spe-menu-deroulant-top-main > ul > li.flex-0-3 {
  flex: 0.3;
}

.base-menu-deroulant a, .base-menu-deroulant p {
  font-size: 0.85em;
}
    
.base-menu-deroulant > ul > li:hover {
  background-color: var(--colorBackgroundMainMenuHover);
}

.base-menu-deroulant > ul > li:hover > a {
  color: var(--colorTextMainMenuHover);
}

.spe-menu-deroulant-top-main > ul > li:hover {
  background-color: var(--colorBackgroundTopMenuHover);
}

.spe-menu-deroulant-top-main > ul > li:hover > a {
  color: var(--colorTextTopMenuHover)
}

.base-menu-deroulant > ul > li.menu-deroulant-info:hover {
  background-color: var(--colorBackgroundTopMenuInfo);
}

.base-menu-deroulant > ul > li > a, .base-menu-deroulant > ul > li > p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.menu-deroulant {
  z-index: 1;
}

.item-menu-language {
  z-index: 2;
}

.menu-deroulant > a:after{
  content: "❯";
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid var(--colorMainMenuBorderBottomHover);
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid var(--colorMainMenuBorderBottomHover);
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--height-menu-main);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  background-color: #ffffff;
}

.spe-sous-menu {
  margin-top: var(--height-menu-top-main);
}

.spe-sous-menu > li > a {
  color: var(--colorTextTopMenuSubMenu);
}

.sous-menu > li:hover {
  background-color: var(--colorBackgroundTopMenuSubMenuHover);
}

.spe-sous-menu > li:hover {
  background-color: var(--colorBackgroundTopMenuSubMenuHover);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sous-menu > li:hover > a {
  color: #fff;
}

/* Bannière de la section */

.title-section {
  background-color: var(--colorBackgroundMainSection);
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  padding: 15px 30px 15px;
  height: var(--height-title-content-sub);
}

.top-section1 {
  display: flex;
  height: var(--height-top-section1);
}

.top-section2 {
  display: flex;
  height: var(--height-top-section2);
}

.wrapper-search-rapid {
  width: var(--width-data-list);
  display: flex;
}

.wrapper-search-rapid > input {
  background-color: var(--colorGrey2);
  border: 0;
  outline: 0;
  padding: 0 10px 0 10px;
  flex: 1;
  color: var(--colorBlue1);
  font-size: 0.85em;
}

.wrapper-search-rapid > button {
  border-right: 1px solid #fff;
  flex: 0 0 auto;
}

.wrapper-search-rapid > input::placeholder {
  color: var(--colorBlue1);
}

.wrapper-search-rapid > button:last-child {
  border: 0;
}

.wrapper-tab {
  flex-grow: 1;
  background: linear-gradient(to top, #fff, var(--colorGrey4));
  font-size: 0.85em;
  border-bottom: 1px solid var(--colorGrey1);
}

.wrapper-tab .tab-actif {
  background-color: var(--colorBackgroundTabActive);
  color: var(--colorText);
  pointer-events: none;
}

.wrapper-tab ul{
  display: flex;
  justify-content: left;
  margin-left: 10px;
  margin-top: 20px;
  list-style: none;
}

.wrapper-tab li {
  float: left;
  margin-left: 3px;
}

.wrapper-tab li a {
  text-decoration: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 11px 11px 13px 11px;
  margin-right: 7px;
  background-color: var(--colorBackgroundTab);
  color: #fff;
}

.wrapper-tab li a:hover {
  background-color: var(--colorBackgroundTabActive);
  color: var(--colorText);
}

.button-template {
  border: 0;
  height: 40px;
  width: 145px;
  background-color:var(--colorBackgroundButtonAction);
  color: #fff;
  font-size: 0.9em; 
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  text-align: center;
}

.button-template:hover {
  background-position-y: 5px
}

.button-template:hover {
  opacity: 80%;
}

.button-filter {
  background-image: url("../img/filter.svg");
  background-position: center;
  background-color: #c0bdbd;
  width: 50px;
}

.button-search {
  background-image: url("../img/search.svg");
  background-position: center;
  background-color: #c0bdbd;
  width: 50px;
}

.button-first-right {
  margin-left: auto;
}

.button-tools {
  border-left: 1px solid #fff;
}

.button-add {
  background-image: url("../img/plus.svg");
}

.button-printer {
  background-image: url("../img/printer.svg");
}

.button-export {
  background-image: url("../img/export.svg");
}

.button-modify {
  background-image: url("../img/edit.svg");
}

.button-save {
  background-image: url("../img/save.svg");
}

.button-cancel {
  background-image: url("../img/x-circle.svg");
}

.number-items {
  font-size: 0.83em;
  color: var(--colorGrey4);
  padding: 7px 0 0 0;
  margin-left: 6px;
  width: calc(var(--width-data-list) - 5px);
  height: var(--height-top-section2);
}

/* Login screen */

.content-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.status-login {
height: 50px;
}

.status-login > p {
color: var(--colorRed1);
padding-top: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--colorBorderScreenLogin);
  border-radius: 20px;
  box-sizing: border-box;
  height: 390px;
  width: 450px;
}

.login .logo {
  margin-left: 20px;
}

.login .header-logo {
  background-color: var(--colorBackground);
}

.login .usine-name {
  padding-top: 20px;
}

.ic1 {
margin-top: 75px;
}

.ic2 {
margin-top: 30px;
}

.input-login {
  height: 40px;
  position: relative;
}

.input-login input {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid  #eeeeee;
  box-sizing: border-box;
  color: var(--colorText);
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 250px;
  font-size: 1em;
}

.placeholder-login {
  color: var(--colorTextPlaceHolderScreenLogin);
  left: 5px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  top: 12px;
  font-size: 1em;
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.button-rounded-green {
  background-color:  var(--colorBackgroundMainSection);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 1.1em;
  height: 40px;
  margin-top: 38px;
  text-align: center;
  width: 250px;
  font-weight: 300;
}

.link-button {
  width: 190px;
  margin-bottom: 30px;
}