.wrapper-list {
	width: var(--width-data-list);
	position: fixed;
	top: calc(var(--height-header-main));
	bottom:0;
	overflow:auto;
  color: var(--colorBlue1);
  font-size: 0.85em;
}

.table-list {
  width: 100%;
  border-collapse: collapse;
}

.table-list thead {
  background-color: var(--colorBlue2);
  color: #fff;
}

.table-list thead {
  position: sticky;
  top: 0;
}

.table-list th, td {
  padding: 5px;
  text-align: left;
  white-space: nowrap;
}

.table-list tbody > tr:nth-child(2n + 1) {
  background-color: #ecececf6;
}

.table-list tbody > tr:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}

.wrapper-detail {
  font-size: 0.85em;
  color: var(--colorBlue1);
  position: relative;
  margin-left: calc(var(--width-data-list) + 15px);
  margin-right: 10px;
  margin-top: 30px;
  height: calc(100% - var(--height-header-main) - 10px);
  width: calc(100% - var(--width-data-list) - 15px);
}

.form-input, .form-radio {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 2px;
  margin: 5px;
}

.form-input label {
  padding: .5em .5em 0 0;
}

.form-input input {
  padding: 2px;
  font-size: 1em;
  color: var(--colorBlue3);
}

.form-inline {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.form-group {
  margin: 5px;
  border: 1px solid var(--colorGrey1);
}

.form-group > legend{
  padding: 3px 6px;
}

/*
#sidebar-filter {
  margin-top: 41px;
  overflow: hidden;
  max-width: 0;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
}

@keyframes apparitionSideBarFilter {
  0% {
    opacity: 0%;
    min-width: 350px;
  }

  100% {
    opacity: 97%;
    min-width: 350px;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

@keyframes disparitionSideBarFilter {
  0% {
    opacity: 97%;
    min-width: 350px;
  }

  80% {
    opacity: 0%;
    min-width: 350px;
  }

  100% {
    opacity: 0%;
    min-width: 0;
    box-shadow: 0;
  }
}

.button-sidebar-filter {
  background-position: right;
  background-position-x: 90%;
  background-color: var(--colorText);
  width: 100%;
}

.button-close::before {
  content: "Recherche avancée";
}

.button-refresh {
  background-image: url("../img/refresh.svg");
  background-position: center;
}

.input-filter-template {
  position: relative;
}

.input-filter-template > input {
  background-color: #dbd5d5;
  border: 0;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  color: var(--colorText);
  outline: 0;
  padding: 4px 85px 0;
  font-size: 1em;
  height: 30px;
  width: 100%;
}

.placeholder-search-filter {
  color: var(--colorText);
  left: 20px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 10px;
}

.placeholder-search-filter::after {
  content: " :";
}

.input-filter-template input:focus ~ .placeholder-search-filter,
.input-filter-template input:not(:placeholder-shown) ~ .placeholder-search-filter {
  transform: translateX(-8px) scale(0.9);
}

.input-filter-template >input:last-child {
  border-bottom: 0;
}

.dashbord {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

*/