/* Utilisé dans css : font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: "Lane - Upper";
    src: url("../fonts/Lane-Upper.woff2") format("woff2"),
        url("../fonts/Lane-Upper.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Lane - Narrow";
    src: url("../fonts/Lane-Narrow.woff2") format("woff2"),
        url("../fonts/Lane-Narrow.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }