{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <!--<script src="{% static "js/script.js" %}"></script>-->
        <title>mgFactory</title>
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}"/>
    </head>
    <body>
         {% block block-app %}{% endblock %}
        <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>
    </body>
</html>