{% extends "template_menu_details.html" %}
{% load i18n %}

{% block block-content-details %}
<div class="wrapper-list">
    <table class="table-list">
        <thead><tr><th>{% translate "Nom" %}</th><th>{% translate "Ville" %}</th></tr></thead>
        <tfoot><tr><td>{% translate "Nom" %}</td><td>{% translate "Ville" %}</td></tr></tfoot>
        <tbody>
            <tr><td>Fournisseur 11111111111111a</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
            <tr><td>Fournisseur 1</td><td>La Rochelle</td></tr>
        </tbody>
    </table>
</div>

<div class="wrapper-detail">
    <div class="form-inline">
        <div class="form-input">
            <label for="supplier-name" class="">Nom :</label>
            <input type="text" name="supplier-name" id="supplier-name">
        </div>
        <div class="form-input">
            <label for="supplier-language" class="">Langue :</label>
            <input type="text" name="supplier-language" id="supplier-language">
        </div>
        <div class="form-radio">
            <p>Status :</p>
            <div>
                <input type="radio" name="supplier-state" value="1" id="stateActive"/>
                <label for="supplier-state">Actif</label>
                <input type="radio" name="supplier-state" value="0" id="stateInactive"/>
                <label for="supplier-state">Inactif</label>
            </div>
        </div>
    </div>
    <fieldset class="form-group">
        <legend>Adresse</legend>
        <div class="form-inline">
            <div class="form-input">
                <label for="supplier-zipcode" class="">Code postal :</label>
                <input type="text" name="supplier-zipcode" id="supplier-zipcode">
            </div>
            <div class="form-input">
                <label for="supplier-adress" class="">Rue :</label>
                <input type="text" name="supplier-adress" id="supplier-adress">
            </div>
            <div class="form-input">
                <label for="supplier-city" class="">Ville :</label>
                <input type="text" name="supplier-city" id="supplier-city">
            </div>
        </div>
        <div class="form-inline">
            <div class="form-input">
                <label for="supplier-province" class="">Province / Etat :</label>
                <input type="text" name="supplier-province" id="supplier-province">
            </div>
            <div class="form-input">
                <label for="supplier-country" class="">Pays :</label>
                <input type="text" name="supplier-country" id="supplier-country">                   
            </div>
        </div>
    </fieldset>
    <div class="form-inline">
        <div class="form-input">
            <label for="supplier-currency" class="">Devise :</label>
            <input type="text" name="supplier-currency" id="supplier-currency">
        </div>
        <div class="form-input">             
            <label for="supplier-terms" class="">Termes de paiement :</label>
            <input type="text" name="supplier-terms" id="supplier-terms">
        </div>
    </div>
    <div class="form-inline">
        <div class="form-input">             
            <label for="supplier-transport" class="">Transport :</label>
            <input type="text" name="supplier-transport" id="supplier-transport">
        </div>
        <div class="form-input">             
            <label for="supplier-delay" class="">Délai de livraison :</label>
            <input type="text" name="supplier-delay" id="supplier-delay"> 
        </div>
    </div>
    <div class="form-inline">
        <div class="form-radio">
            <p>Certification ISO :</p>
            <div>
                <input type="radio" name="supplier-ISO" value="1" id="ISOYes"/>
                <label for="supplier-ISO">Oui</label>
                <input type="radio" name="supplier-ISO" value="0" id="ISONo"/>
                <label for="supplier-ISO">Non</label>
            </div>
        </div>
        <div class="form-input">
            <p>Certificat de conformité :</p>
            <div>
                <input type="radio" name="supplier-conformity" value="1" id="conformityYes"/>
                <label for="supplier-conformity">Oui</label>
                <input type="radio" name="supplier-conformity" value="0" id="conformityNo"/>
                <label for="supplier-conformity">Non</label>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-input">             
            <label for="supplier-level" class="">Niveau d'approbation :</label>
            <input type="text" name="supplier-level" id="supplier-level"> 
        </div>
        <div class="form-radio">
            <p>Fournisseur critique :</p>
            <div>
                <input type="radio" name="supplier-critic" value="1" id="criticYes"/>
                <label for="supplier-critic">Oui</label>
                <input type="radio" name="supplier-critic" value="0" id="criticNo"/>
                <label for="supplier-critic">Non</label>
            </div>
        </div>
    </div>
</div>

<!--
    <div id="sidebar-filter">
        <button class="button-template button-sidebar-filter button-close" id="button-filter-close"></button>
        <div class="input-filter-template">
            <input type="text" name="search-name" id="search-name" placeholder=" ">
            <label for="search-name" class="placeholder-search-filter">Nom</label>
        </div>
        <div class="input-filter-template">
            <input type="text" name="search-adress" id="search-adress" placeholder=" ">
            <label for="search-name" class="placeholder-search-filter">Adresse</label>
        </div>
        <div class="input-filter-template">
            <input type="text" name="search-zipcode" id="search-zipcode" placeholder=" ">
            <label for="search-name" class="placeholder-search-filter">Code postal</label>
        </div>
        <div class="input-filter-template">
            <input type="text" name="search-city" id="search-city" placeholder=" ">
            <label for="search-name" class="placeholder-search-filter">Ville</label>
        </div>
        <div class="input-filter-template">
            <input type="text" name="search-province" id="search-province" placeholder=" ">
            <label for="search-name" class="placeholder-search-filter">Province</label>
        </div>
        <button class="button-template button-sidebar-filter button-refresh" id="button-filter-refresh"></button>
    </div>
-->
{% endblock %}